@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
	color-scheme: light dark;
	--color-scheme: light-dark(white, black);
	--invert-scheme: light-dark(black, white);
	--background: light-dark(#eee, #021);
	--accented-background: light-dark(#c0d8c0, #032);
	--foreground: light-dark(#00521f, #090);
	--alt-foreground: light-dark(#113814, #999);
	--primary: light-dark(#094, #0f7);
	--accented-primary: light-dark(#090, #060);
	--secondary: light-dark(#00537F, #00537F);
	--success: #198754;
	--warning: #ffc107;
	--danger: #FF5353;
	--info: #0dcaf0;
	--highlight-gradient: to right, var(--accented-background), var(--accented-primary) 10%, var(--accented-primary) 90%, var(--accented-background);
	--highlight-no-gradient: to right, var(--accented-background), var(--accented-primary) 10%, var(--accented-primary) 100%, var(--accented-background);

	--sidebar-width: 20rem;
	--sidebar-width-hidden: 4rem;

	/* font-size: medium; */
}

body {
	background: var(--background);
	transition: background 1s;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	display: unset;
}

img:is(.grayscale) {
	mix-blend-mode: difference;
}

@keyframes fadeInOutHold {
	  0%	{ opacity:0; }
	 35%	{ opacity:0; }
	 50%	{ opacity:1; }
	 65%	{ opacity:1; }
	100%	{ opacity:0; }
}

.fade-in-out {
   /* -webkit-animation: fadeInHoldOutHold 1s infinite;
   -moz-animation: fadeInHoldOutHold 1s infinite;
   -o-animation: fadeInHoldOutHold 1s infinite; */
    animation: fadeInOutHold 4s infinite;
}

@keyframes fadeOutInHold {
	  0%	{ opacity:1; }
	 15%	{ opacity:1; }
	 50%	{ opacity:0; }
	 85%	{ opacity:0; }
	100%	{ opacity:1; }
}

.fade-out-in {
   /* -webkit-animation: fadeInHoldOutHold 1s infinite;
   -moz-animation: fadeInHoldOutHold 1s infinite;
   -o-animation: fadeInHoldOutHold 1s infinite; */
    animation: fadeOutInHold 4s infinite;
}

h1 {
	font-size: xx-large;
	color: var(--foreground);
}

h2 {
	font-size: x-large;
	color: var(--primary);
}

h3 {
	font-size: large;
	color: var(--alt-foreground);
}